(93 sloc) 1.53 KB
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

.bg-steel {
  background-color: #000000;
}

.site-header .navbar-nav .nav-link {
  color: #87eba5;
}

.site-header .navbar-nav .nav-link:hover {
  color: #03bd85;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 700;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a {
  color: white
  font-weight: bolder;
}

.article-metadata a:hover {
  color: rgb(150, 147, 147);
  text-decoration: none;
}

.mr-2 {
  color: #000000;
  font-weight: bolder;
}

.mr-2:hover {
  color: #333;
  text-decoration: none;

}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.list-group {
  background: rgb(63, 63, 63);
  color: white;
}

.list-group-item{
  background: rgb(255, 255, 255);
  color: #00a070;
}

.list-group-item a {
  color: inherit;
  text-decoration: none;
}

.list-group-item a:hover {
  color: #333;
  text-decoration: none;
}

