{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'myform/main.css' %}">


</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="#">ML Loan Predictor</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
    </header>

    <main role="main" class="container pt-5">
      <div class="row">
        <div class="col-md-8 pt-5">
          
            {% block content %}{% endblock %}

        </div >

        <div class="col-md-4 pt-5">
          <div class="content-section">
            <h3 style="color: black;">Project Summary:</h3>
            <p class='text-muted'>
              This is a form predicts if your loan will be approved or not.
              This Was created using machine learning 🤖👋 
            </p>
          </div>
          <div class='content-section'>
            <div>
            <h3 style="color: black;">Result:</h3>
          </div >
            {% if messages %}
              {% for message in messages %}
                <div class="text-center alert alert-{{ message.level_tag  }}">
                    {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          </div >
        </div>
      </div>
    </main>

    <footer class="page-footer font-small unique-color-dark text-white">

      <div style="background-color: #2c15b1;">
        <div class="container">
    
          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">
    
            <!-- Grid column -->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0 text-white">
              <h6 class="mb-0">Get connected with us on social networks!</h6>
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div  class="col-md-6 col-lg-7 text-center text-md-right text-white">
    
              <!--Linkedin -->
              <a style="color: white; text-decoration: none;" href="https://www.linkedin.com/in/andrew-schonnesen-ab7393197/">
                <i class="fa fa-linkedin mr-4"> </i>
              </a>
              <!--Instagram-->
              <a style="color: white; text-decoration: none;" href="https://www.instagram.com/aschonn/">
                <i class="fa fa-instagram mr-4"> </i>
              </a>
              <a style="color: white; text-decoration: none;" href="https://andrewschonnesen.com">
                <i class="fa fa-address-book mr-4"></i>
              </a>
    
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row-->
    
        </div>
      </div>
    
    
      <!-- Copyright -->
      <div style="background-color: black;" class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/">Andrew Schonnesen</a>
      </div>
      <!-- Copyright -->
    
    </footer>
    <!-- Footer -->


  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>